---
const title = "Buscar no blog";
---
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>

  <!-- UI do Pagefind (>=1.0) -->
  <link rel="stylesheet" href="/blog/pagefind/ui.css">
  <script src="/blog/pagefind/pagefind.js" defer></script>
  </head>
  <body>
    <h1>{title}</h1>
    <div id="search"></div>

    <script is:inline>
      window.addEventListener('DOMContentLoaded', () => {
        new PagefindUI({
          element: "#search",
          showSubResults: true,
          // translations: { placeholder: "Pesquisar..." }
        });
      });
    </script>
  </body>
</html>
