---
// blog/src/pages/admin.astro
// Redirecionamento client-side para o CMS
if (typeof window !== 'undefined') {
  window.location.href = '/blog/admin/index.html';
}
---

<html>
  <head>
    <title>Redirecionando para o CMS</title>
    <meta http-equiv="refresh" content="0; url=/blog/admin/index.html">
  </head>
  <body>
    <p>Redirecionando para o <a href="/blog/admin/index.html">CMS do Blog</a>...</p>
    <script>
      window.location.href = '/blog/admin/index.html';
    </script>
  </body>
</html>