---
import { getCollection } from 'astro:content';
const posts = await getCollection('posts', ({ data }) => !data.draft);
---
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PAVIE | Blog</title>
    <meta name="description" content="Blog jurídico da PAVIE | Advocacia." />
    <link rel="canonical" href="https://blog.pavieadvocacia.com.br/" />
  </head>
  <body>
    <header>
      <h1>PAVIE | Blog</h1>
      <nav><a href="/about">Sobre</a></nav>
    </header>
    <main>
      <ul>
        {posts
          .sort((a,b) => b.data.date.getTime() - a.data.date.getTime())
          .map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
              <p>{post.data.description}</p>
            </li>
          ))}
      </ul>
    </main>
  </body>
</html>