backend:
  name: github
  repo: PAVIEAdvocacia/PAVIE-091025
  branch: main
  base_url: /api
  auth_endpoint: auth
  site_domain: pavieadvocacia.com.br

media_folder: "public/uploads"
public_folder: "/uploads"

publish_mode: editorial_workflow
locale: "pt"

collections:
  - name: "posts"
    label: "Artigos"
    folder: "blog/src/content/posts"   # <- aqui é o ajuste
    create: true
    slug: "{{slug}}"
    editor: { preview: true }
    fields:
      - { label: "Título",  name: "title", widget: "string" }
      - { label: "Data",    name: "pubDate", widget: "datetime", format: "YYYY-MM-DD" }
      - { label: "Resumo",  name: "description", widget: "text", required: false }
      - { label: "Corpo do texto", name: "body", widget: "markdown" }
      - { label: "Imagem de capa",  name: "heroImage", widget: "image", required: false }
